{% extends "base.html" %}

{% block title %}Product By Category{% endblock %}

{% block content %}
<div id="categories-name">

</div>
<script>
    const url = '/products/api/category/{{slug}}/'

    fetch(url)
        .then(response => response.json())
        .then((data) => {
            // console.log(data)
            data.map((product) => {
                $('#categories-name').append(`<p><a href="/products/${product['id']}">${product['name']}</a></p>`)
            })
        })
</script>
{% endblock %}